@model WeaselServicesAPI.Models.Email.SampleEmail
@{
    Layout = "~/EmailTemplates/_Layout.cshtml";
}

<h1>Welcome @Model.FirstValue</h1>
<p>Welcome to our wonderful service!</p>
<p>Testing @Model.SecondValue</p>